[build-system]
requires = ["setuptools>=68", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "pickomino-env"
version = "0.1.0"
description = "Pickomino (Heckmeck) Gymnasium environment"
readme = ""
requires-python = ">=3.9"
authors = [{ name = "Jarl and Robin" }]
dependencies = ["gymnasium>=0.28", "numpy>=1.23"]

[tool.setuptools.packages.find]
where = ["pickomino_env/src", "."]
include = ["pickomino_env*"]

[tool.pydocstyle]
convention = "numpy"

[flake8]
ignore = ["E203", "W503", "E128", "E129"]  # Black wins
max-line-length = 119

[tool.pytest.ini_options]
pythonpath = ["."]

[tool.coverage.run]
omit = [
    "*/pickomino_env/main.py"
]
